header {
    background: linear-gradient(to right, #c5fff6, #a4ffca, #cab4ca);
    padding: 15px 25px;
    color: #05204e;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#contenedorBoton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}